<div>

  <h1>Resultados para <b>{{this.search}}</b> </h1>
  <div class="containerDiv">
    {{#each artists}}
      <div class="card">
         <h2>{{this.name}}</h2>
        <img src="{{this.images.0.url}}" alt="caratula" width="300px" />

        <a href="/albums/{{this.id}}">
          <button>View Albums</button>
        </a>
      </div>      
      {{/each}}
  </div>     
</div>
