<div class="homeDiv">
    
    <div class="homeSubDiv">
        <h1>Home page</h1>
        <div class="formDiv">
            <form action="/artist-search" method="GET">
                <input type="text" name="search">
                <br>
                <br>
                <button type="submit">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>